#display
  %p#location
  %h1
    %span#conditions
    %span#temperature
    &deg;F
  .icon

#legal-wrap
  #legal-clicker Legal
  #legal
    %p
      Icons courtsey of 
      %a(href="http://thenounproject.com")The Noun Project
      %br
      Weather data via
      %a(href="http://developer.yahoo.com/yql/")Yahoo Developer Tools
      %br
      Built with <3 by robacarp
